html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus { box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb; }

html {
    min-height: 100%;
    position: relative;
}

.form-control, .input-group-text { margin-bottom: 10px; }

.full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

h1, h2, h3, h4, h5, h6 { text-underline-offset: 12px; }

.rounded-4 { border-radius: 0.5rem !important; }

.driverselect-card { background-color: #585858; }

.driverselect-title { border-bottom: 3px solid #fff; }