<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vigus @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vigus.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-black navbar-expand-sm">
            <div class="container">
                <a asp-controller="Home" asp-action="Index"><img alt="Vigus" src="~/Images/vigus.png" class="navbar-brand" width="150px" onmouseover="this.src='/Images/vigus2.png';" onmouseout="this.src='/Images/vigus.png';" /></a>
                <button class="navbar-toggler border-secondary" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-sm">
        <main role="main" class="pb-3">
            @RenderBody()
            <partial name="_AboutPartial" />
        </main>
    </div>
    
<div class="container-xs">
<footer class="border-top bg-black py-4 px-5 bottom-0">
    <div class="row text-light">
        <div class="col-4">
            <a asp-controller="Home" asp-action="Index"><img alt="Vigus" src="~/Images/vigus.png" class="navbar-brand" width="230px" onmouseover="this.src='/Images/vigus2.png';" onmouseout="this.src='/Images/vigus.png';" /></a>
        </div>
        <div class="col-2 offset-2">
            <h6 class="fw-bold">Home</h6>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-controller="Home" asp-action="Products">Products</a></li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Downloads & Support</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h6 class="fw-bold">Data (Admin)</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-controller="Gpus" asp-action="Index">Gpus</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-controller="GpuImages" asp-action="Index">Images</a></li>
                    </ul>
        </div>
        <div class="col-2">
            <h6 class="fw-bold">Search on this website</h6>
            <input class="form-control"/>
        </div>
    </div>
    <div class="d-flex justify-content-between py-4 my-4 border-top text-light">
        <p>mertsn</p>
        <p class="d-flex">&copy; @DateTime.Now.Year</p>
    </div>
</footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
