@model IEnumerable<GpusViewModel>

<div class="row my-4">
    @{
        foreach (var gpu in Model)
        {
            if (gpu.Id <= 0)
            {
                <h3 class="fw-bold text-danger text-center">There's nothing to display</h3>
                break;
            }
            else
            {
                <div class="col-md">
                    <div class="card" style="width: 8rem;" id="@gpu.Id" onclick="console.log(this.id);">
                        <img src="@(gpu.ImageName==null ? "~/Images/defaultgpu.png" : "~/Images/UserUploads/"+gpu.ImageName)" asp-append-version="true" class="card-img-top h-100" alt="GPU" width="128" height="128" />
                        <div class="card-body">
                            <h5 class="card-title">@gpu.FullGpuName</h5>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>