@model IEnumerable<Vigus.Web.Data.Gpu>

@{
ViewData["Title"] = "- Vigus";
}
<div class="container col-xxl-12 px-2  bg-dark">
    <div class="row flex-lg-row g-5 py-5 bg-dark text-light ">
        <div class="col-10 col-sm-8 col-xxl-12">
            <img src="~/Images/defaultgpu.png" class="d-block mx-lg-auto img-fluid" alt="C900">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">C 900 Series release</h1>
            <p class="lead">High-end graphics card series for people who need high performance in rendering, gaming and computing.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button class="btn btn-outline-light px-4 me-md-2">Learn more</button>
                <a class="btn btn-outline-secondary px-4">Go to downloads & support</a>
            </div>
        </div>
    </div>
</div>
<div class="container py-4">
    <div class="container-sm">
        <h1 class="fw-bold text-decoration-underline">Products</h1>
        @foreach (var gpu in Model)
        {
            <div class="card">
                <img src="Images/defaultgpu.png" class="card-img-top h-100" alt="GPU" width="128" height="128"/>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayName(gpu.Name)</h5>
                </div>
            </div>
        }
    </div>
</div>