@model HomeViewModel

@{
    ViewData["Title"] = "- Vigus";
}
<div class="px-5 bg-dark full-width overfow-hidden">
    <div class="row gx-0 bg-dark text-light" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="col-2"></div>
        <div class="col-6">
            <div>
                <h1 class="display-5 fw-bold lh-1 mb-3 text-decoration-underline">C 90 Series release</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button class="btn btn-outline-light px-4 me-md-2">Learn more</button>
                    <button class="btn btn-outline-secondary px-4">
                        Go to downloads & support
                        <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <img src="~/Images/UserUploads/defaultgpu.png" class="d-block mx-lg-auto" alt="C900">
        </div>
    </div>
</div>
<div class="container py-4">
    <div class="container-sm">
        <h1 class="fw-bold text-decoration-underline">Products</h1>
        <partial name="_ProductsPartial" />
    </div>
    <div class="container-sm my-5">
        <h1 class="fw-bold text-decoration-underline">Technologies</h1>
        <div class="row">
            @{
                if (Model.TechnologyViewModel == null)
                {
                    <h3 class="fw-bold text-danger text-center">There's nothing to display</h3>
                }
                else
                {
                    foreach (var technology in Model.TechnologyViewModel)
                    {
                        <div class="col-md">
                            <div class="card" style="width: 35rem;">
                                <img src="@(technology.Image == null ? "/Images/UserUploads/defaulttechnology.png" : "~/Images/UserUploads/"+@technology.Image.Name)" class="card-img-top h-100" alt="@technology.Name">
                                <div class="card-body">
                                    <h5 class="card-title">@technology.Name</h5>
                                    <p class="card-text">@technology.Description</p>
                                </div>
                            </div>
                           <!-- <div class="card text-white" style="width: 35rem">
                                <img src="~/Images/UserUploads/defaulttechnology.png" class="card-img">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>-->
                        </div> 
                    }
                }
            }
        </div>
    </div>
    <div class="container-sm">
        <h1 class="fw-bold text-decoration-underline">About</h1>
    </div>
</div>