@model SupportViewModel

@{
    ViewData["Title"] = "- Support";
}
<h3 class="text-center py-3 m-0">Drivers & Support</h3>
<div>
    <div class="h-100 p-5 bg-light border border-5 border-dark rounded-4">
        <h2 class="fw-bold lh-1 mb-3 text-decoration-underline">Vigus driver software</h2>
        <div class="row">
            <div class="col-8">
                <p class="py-3 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-4"></div>
        </div>
        <button class="btn btn-outline-dark" type="button">Example button</button>
    </div>

    <div class="row py-4">
        <div class="col-md-4">
            <div class="h-100 p-3 rounded-4 border border-3 border-dark driverselect-card text-light">
                <h1 class="fw-bold display-3">
                    <label asp-for="GpuModelVm">1</label>
                </h1>
                <h3 class="driverselect-title pb-1">Select series</h3>
                <select class="form-control fs-5" size="11" asp-for="GpuModelVm" asp-items="ViewBag.ModelId"></select>
            </div>
        </div>
        <div class="col-md-4">
            <form asp-action="Support" method="post">
                <div class="h-100">
                    <div class="h-100 p-3 rounded-4 border border-3 border-dark driverselect-card text-light">
                        <input type="submit" value="Submit >" class="btn btn-outline-light btn-lg float-end" />
                        <h1 class="fw-bold display-3">2</h1>
                        <h3 class="driverselect-title pb-1">GPU</h3>
                        <select class="form-select fs-5 pt-4" size="11" asp-for="SelectedItems" asp-items="ViewBag.GpuId"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="h-100 p-3 rounded-4 border border-3 border-dark driverselect-card text-light" style="background-color: #156c30 !important;">
                <div class="float-end">
                    <a class="btn btn-outline-light btn-lg" asp-action="Support">Reset</a>
                </div>
                <h1 class="fw-bold display-3">3</h1>
                <h3 class="driverselect-title pb-1">Result</h3>
                <select class="form-control fs-5 pt-4" size="11" asp-items="Model.SelectListItems"></select>
            </div>
        </div>
    </div>

    <div class="px-5  bg-dark full-width overflow-hidden">
        <div class="mb-5 mx-5">
            <div class="row">
                <h3 class="text-center text-light mt-3">Technologies</h3>
            </div>
            @if (Model.TechnologyViewModel.Any())
            {
                <div class="overflow-auto d-flex justify-content-center">
                    @foreach (var technology in Model.TechnologyViewModel)
                    {
                        <div class="p-5 me-4 mb-4 bg-light border border-5 rounded-4 card" style="min-width: 300px">
                            <h2 class="fw-bold lh-1 mb-3 text-decoration-underline">@technology.Name</h2>
                            <p class="py-3 m-0">@technology.Description</p>
                            <button class="btn btn-outline-dark" type="button">Example button</button>
                        </div>
                    }
                </div>
            }
            else
            {
                <h3 class="fw-bold text-danger bg-light p-2 text-center">There's nothing to display</h3>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("select#GpuModelVm").change(function () {
                var modelId = $(this).val();

                $("select#SelectedItems").empty();

                $.getJSON(`/Home/GetGpu?id=${modelId}`, function (data) {
                    console.log(data);
                    $.each(data, function (i, item) {
                        $("select#SelectedItems").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            })
        });
    </script>
}