@model Vigus.Web.Data.Gpu

@{
    ViewData["Title"] = "- GPUs";
}

<h1>Create</h1>

<h4>Gpu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cores" class="control-label"></label>
                <input asp-for="Cores" class="form-control" />
                <span asp-validation-for="Cores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tdp" class="control-label"></label>
                <input asp-for="Tdp" class="form-control" />
                <span asp-validation-for="Tdp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemorySize" class="control-label"></label>
                <input asp-for="MemorySize" class="form-control" />
                <span asp-validation-for="MemorySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <select asp-for="ModelId" class ="form-control" asp-items="ViewBag.ModelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
