@model GpuCreateViewModel

@{
    ViewData["Title"] = "- GPUs";
}
<h4 style="padding-top: 10px;">Gpu - Edit</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cores" class="control-label"></label>
                <input asp-for="Cores" class="form-control"/>
                <span asp-validation-for="Cores" class="text-danger"></span>
            </div>
            <label asp-for="Tdp" class="form-label" id="watt"></label>
            <div class="input-group">
                <input asp-for="Tdp" class="form-control" aria-describedby="watt"/>
                <span class="input-group-text">W</span>
                <span asp-validation-for="Tdp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control"/>
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <label asp-for="Price" class="form-label" id="s"></label>
            <div class="input-group">
                <input asp-for="Price" class="form-control" aria-describedby="s"/>
                <span class="input-group-text">$</span>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <label asp-for="MemorySize" class="form-label" id="gb"></label>
            <div class="input-group">
                <input asp-for="MemorySize" class="form-control" aria-describedby="gb"/>
                <span class="input-group-text">GB</span>
                <span asp-validation-for="MemorySize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Model Name</label>
                <select asp-for="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Image Name</label>
                <select asp-for="ImageId" class="form-control" asp-items="ViewBag.ImageId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Driver Version</label>
                <select asp-for="SelectedItems" class="form-control" asp-items="Model.SelectListItems"></select>
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}